body {
    --main-menu-text: #ECFFDF;
    --main-menu-selected: #FECC04;

    --scrubber-height: 2.2em;

    --tiles: #4F564D;
    --tile-outline: #4F564D;
    --background: #8C9487;

    --ninja: #000000;

    --mine-exterior: #910A46;
    --mine-interior: #9A3763;
    --toggle-mine: #6B7367;
    --toggling-mine: #000000;

    --bounceblock-interior: #798076;
    --bounceblock-border: #000000;

    --oneway-long: #3C413B;
    --oneway-short: #6D7668;

    --boost-pad: #000000;
    --boost-pad-wooshing: #C2CEB1;

    --launch-pad-short: #000000;
    --launch-pad-long: #999999;

    --exit-panel: #B9C3B2;
    --exit-border: #323323;
    --open-exit-upper: #EDDC54;
    --open-exit-lower: #DF9B43;
    --exit-switch-border: #323323;
    --exit-switch-background: #8C9487;
    --exit-switch-border-collected: #C2CEB1;
    --exit-switch-background-collected: #8C9487;
    --exit-switch-center: #FFFFFF;

    --regular-door: #C2CEB1;
    --locked-door-bar: #323323;
    --locked-door-center: #C2CEB1;
    --locked-switch-border: #323323;
    --locked-switch-background: #8C9487;
    --locked-switch-button: #000000;
    --locked-switch-border-collected: #798076;
    --locked-switch-background-collected: #8C9487;
    --locked-switch-button-collected: #323323;

    --trap-door-bar: #323323;
    --trap-door-center: #C2CEB1;
    --trap-switch-border: #323323;
    --trap-switch-background: #8C9487;
    --trap-switch-border-collected: #798076;
    --trap-switch-background-collected: #8C9487;

    --thwump-border: #4D4D4D;
    --thwump-interior: #798076;
    --thwump-ray: #48C1C8;

    --shove-thwump-armor: #000000;
    --shove-thwump-ray: #48C1C8;
    --shove-thwump-center: #4F564D;

    --time-remaining: #FECC04;
    --hardcore-time: #DF9B43;
    --empty-timebar: #707A6B;

    --regular-grid: #A6AAA3;
    --fine-grid: #949B8F;
    --door-switch-line: #FFFFFF;

    --editor-crosshair: #FFFFFF;
    --tiles-selected: #C2CEB1;
    --entity-arrows: #FBC902;
    --entity-palette-reticle: #000000;

    background: var(--tiles);

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#root {
    max-width: 100vw;
    height: calc(100vh - var(--scrubber-height) - 10px);
    aspect-ratio: 1.76 / 1;
}

#wrapper {
    max-width: 100vw;
    height: calc(100vh - var(--scrubber-height) - 10px);
    aspect-ratio: 1.76 / 1;
}

svg {
    background: var(--background);
}

#tiles {
    fill: var(--tiles);
    stroke: var(--tile-outline);
}

#selected-tiles {
    fill: var(--tiles-selected);
}

.ninja {
    stroke: var(--ninja);
}

.ninja.preview {
    opacity: 0.5;
}

#bounceblockFill {
    fill: var(--bounceblock-interior);
}

#bounceblockStroke {
    stroke: var(--bounceblock-border);
}

.launch-pad rect {
    fill: var(--launch-pad-long);
}

.launch-pad line {
    stroke: var(--launch-pad-short);
}

.locked-door .bar {
    stroke: var(--locked-door-bar);
}

.locked-door .center {
    stroke: var(--locked-door-center);
}

#locked-switch rect {
    fill: var(--locked-switch-background);
    stroke: var(--locked-switch-border);
}

#locked-switch line {
    stroke: var(--locked-switch-button);
}

#locked-switch-touched rect {
    fill: var(--locked-switch-background-collected);
    stroke: var(--locked-switch-border-collected);
}

#locked-switch-touched line {
    stroke: var(--locked-switch-button-collected);
}

.regular-door .bar {
    stroke: var(--regular-door);
}

.regular-grid {
    stroke: var(--regular-grid);
}

.shove-thwump rect {
    fill: var(--shove-thwump-center);
    stroke: var(--shove-thwump-ray);
}

.fine-grid {
    stroke: var(--fine-grid);
}

#tilemode-crosshair, #crosshair {
    stroke: var(--editor-crosshair);
}

.door-switch-line {
    stroke: var(--door-switch-line);
}

