body {
    --main-menu-text: #ECFFDF;
    --main-menu-selected: #FECC04;

    --scrubber-height: 2.2em;

    --tiles: #4F564D;
    --tile-outline: #4F564D;
    --background: #8C9487;

    --ninja: #000000;

    --mine-exterior: #910A46;
    --mine-interior: #9A3763;
    --toggle-mine: #6B7367;
    --toggling-mine: #000000;

    --bounceblock-interior: #798076;
    --bounceblock-border: #000000;

    --oneway-long: #3C413B;
    --oneway-short: #6D7668;

    --boost-pad: #000000;
    --boost-pad-wooshing: #C2CEB1;

    --launch-pad-short: #000000;
    --launch-pad-long: #999999;

    --exit-panel: #B9C3B2;
    --exit-border: #323323;
    --exit-switch-border: #323323;
    --exit-switch-background: #8C9487;
    --exit-switch-border-collected: #C2CEB1;
    --exit-switch-background-collected: #8C9487;
    --exit-switch-center: #FFFFFF;

    --time-remaining: #FECC04;
    --hardcore-time: #DF9B43;
    --empty-timebar: #707A6B;

    --regular-grid: #A6AAA3;
    --fine-grid: #949B8F;
    --door-switch-line: #FFFFFF;

    --editor-crosshair: #FFFFFF;
    --tiles-selected: #C2CEB1;

    background: var(--tiles);
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#root {
    max-width: 100vw;
    height: calc(100vh - var(--scrubber-height) - 10px);
    aspect-ratio: 1.76 / 1;
}

#wrapper {
    max-width: 100vw;
    height: calc(100vh - var(--scrubber-height) - 10px);
    aspect-ratio: 1.76 / 1;
}

svg {
    background: var(--background);
}

#tiles {
    fill: var(--tiles);
    stroke: var(--tile-outline);
}

#selected-tiles {
    fill: var(--tiles-selected);
}

.ninja {
    stroke: var(--ninja);
}

.ninja.preview {
    opacity: 0.5;
}

#toggled line {
    stroke: var(--mine-exterior);
}

#mineOuter {
    fill: var(--mine-exterior);
}

#mineInner {
    fill: var(--mine-interior);
}

#untoggled {
    stroke: var(--toggle-mine);
}

#toggling {
    stroke: var(--toggling-mine);
}

#bounceblockFill {
    fill: var(--bounceblock-interior);
}

#bounceblockStroke {
    stroke: var(--bounceblock-border);
}

#one-way rect.long {
    fill: var(--oneway-long);
}

#one-way rect.short {
    fill: var(--oneway-short);
}

.launch-pad rect {
    fill: var(--launch-pad-long);
}

.launch-pad line {
    stroke: var(--launch-pad-short);
}

.exit-door {
    fill: var(--exit-panel);
    stroke: var(--exit-border);
}

.exit-door-stroke {
    stroke: var(--exit-border);
}

.exit-switch {
    stroke: var(--exit-switch-border);
    fill: var(--exit-switch-background);
}

.regular-grid {
    stroke: var(--regular-grid);
}

.fine-grid {
    stroke: var(--fine-grid);
}

#tilemode-crosshair, #crosshair {
    stroke: var(--editor-crosshair);
}

