body {
    --tiles: #4F564D;
    --background: #8C9487;

    --ninja: #000000;

    --mine-exterior: #910A46;
    --mine-interior: #9A3763;
    --toggle-mine: #6B7367;
    --toggling-mine: #000000;

    --bounceblock-interior: #798076;
    --bounceblock-border: #000000;

    --time-remaining: #FECC04;
    --hardcore-time: #DF9B43;
    --empty-timebar: #707A6B;

    background: var(--tiles);
}

svg {
    background: var(--background);
}

#tiles {
    fill: var(--tiles);
}

.ninja {
    stroke: var(--ninja);
}

.ninja.preview {
    opacity: 0.5;
}

#toggled line {
    stroke: var(--mine-exterior);
}

#mineOuter {
    fill: var(--mine-exterior);
}

#mineInner {
    fill: var(--mine-interior);
}

#untoggled {
    stroke: var(--toggle-mine);
}

#toggling {
    stroke: var(--toggling-mine);
}

#bounceblockFill {
    fill: var(--bounceblock-interior);
}

#bounceblockStroke {
    stroke: var(--bounceblock-border);
}

