#media-controls {
    display: flex;
    align-items: center;
}

#media-controls .text-button {
    color: var(--main-menu-text);
    cursor: pointer;
    width: var(--scrubber-height);
    height: var(--scrubber-height);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#media-controls .text-button div {
    font-size: 1.5em;
}

.scrubber {
    position: relative;
    height: var(--scrubber-height);
    flex-grow: 1;
    margin-left: 0.5em;
    cursor: pointer;
}

.track, .progress, .previewProgress {
    height: 4px;
    transition: height 0.2s;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.scrubber:hover .track, .scrubber:hover .progress, .scrubber:hover .previewProgress {
    height: 6px;
}

.scrubber:hover .thumb {
    width: 15px;
    height: 15px;
    background: var(--hardcore-time);
}

.track {
    background: var(--empty-timebar);
    width: 100%;
}

.progress {
    background: var(--time-remaining);
}

.previewProgress {
    background: var(--hardcore-time);
}

.thumb {
    background: var(--time-remaining);
    width: 10px;
    height: 10px;
    transition: width 0.2s, height 0.2s;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
}
